<!-- sidebar_staff.html -->
<div class="flex h-screen bg-gray-100">
    <!-- Sidebar -->
    <div class="w-64 bg-red-600 text-white p-6">
        <h2 class="text-2xl font-semibold mb-6">เมนู</h2>
        <ul>
            <li>
                <a href="{% url 'product_list' %}" class="block py-2 px-4 rounded-md hover:bg-yellow-700">ดูสินค้าทั้งหมด</a>
            </li>
            <li>
                <a href="{% url 'cart' %}" class="block py-2 px-4 mt-4 rounded-md hover:bg-yellow-700">ดูตะกร้าสินค้า</a>
            </li>
            <li>
                <a href="{% url 'manage_orders_staff' %}" class="block py-2 px-4 mt-4 rounded-md hover:bg-red-700">จัดการคำสั่งซื้อ</a>
            </li>
            <li>
                <a href="{% url 'manage_product' %}" class="block py-2 px-4 mt-4 rounded-md hover:bg-yellow-700">จัดการสินค้า</a>
            </li>
            <li>
                <a href="{% url 'manage_product_stock_staff' %}"
                   class="block py-2 px-4 mt-4 rounded-md hover:bg-yellow-700">จัดการสต็อกสินค้า</a>
            </li>
        </ul>
</div>
